/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

/* Font Family */
body {
  font-family: "Nunito", sans-serif;
}

/* Theme Colors */
:root {
  --primary: #2962ff;
  --info: #3699ff;
  --danger: #f64e60;
  --success: #0bb7af;
  --warning: #ee9d01;
  --dark: #343a40;
  --light: #eaf2fb;
  --secondary: #35363b;
  --white: #fff;
  --gray-100: #f8f9fa;
  --gray-200: #eef5f9;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #757e85;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #1e2a35;
  --black: #000;
  --body-bg: #eef5f9;
  --body-color: #1e2a35;
  --border-radius: 0.3rem;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
  --card-border-width: 0;
  --card-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
  --grid-gutter-width: 1.85rem;
  --input-bg: #fff;
  --btn-focus-width: 0px;
  --sidebar-width: 260px;
  --sidebar-color: #fff;
}

/* Layout and Styling */
.pageWrapper {
  min-height: 100vh;
}

.contentArea {
  flex-grow: 1;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

.card {
  margin-bottom: 30px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
}

.dropdown-menu {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
}

.cursor-pointer {
  cursor: pointer;
}

.circle-box {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 100%;
}

.circle-box.lg-box {
  width: 60px;
  height: 60px;
  font-size: 21px;
  line-height: 60px;
}

.circle-box.md-box {
  width: 50px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
}

.button-group .btn {
  margin: 3px;
}

.btn-white {
  border: 1px solid;
}

.simplebar-scrollbar:before {
  background: #a0a0a0;
}

.apexcharts-toolbar {
  z-index: 0 !important;
}

/* Sidebar Styling */
.sidebarArea {
  flex-shrink: 0;
  width: 260px;
  background-color: #fff;
}

.sidebarArea .sidenav-bg:hover {
  background-color: #f8f9fa;
  border-radius: 0.3rem;
}

@media (max-width: 992px) {
  .sidebarArea {
    position: fixed;
    height: 100%;
    overflow: auto;
    z-index: 1;
    transition: 0.2s ease-in;
  }
  .sidebarArea.showSidebar {
    margin-left: 0px;
  }
}
