.wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding: 1em;
}

.Testimonial{
    overflow-x: hidden !important;
}

.Testimonial .swiper-slide {
    background: hsla(0, 0%, 100%, 0.3);
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
}

.Testimonial .swiper{
    /* overflow-x : hidden !important; */
    overflow: visible !important;
}

.Testimonial .swiper-slide-active {
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    transform: scale(1.1);
    width: 100%;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}

.Testimonial .swiper-slide-next {
    left: -50px;
}
.Testimonial .swiper-slide-prev{
    right: -50px;
}


.cite {
    font-size: 14px;
    font-weight: bold;
}

.Testimonial .swiper-button-prev::after,
.Testimonial .swiper-button-next::after {
    font-size: 14px !important;
    color: white;
    font-weight: 800;
    background-color: #CA373C;
    padding: 10px;
    border-radius: 100px;
}