/* Hero */

.hero {
  height: 80vh;
  background: url("/assets/images/home/banner/banner.jpg");
  background-size: cover;
  background-position: center center;
}

.hero .heading {
  color: var(--light);
  font-weight: 200;
 
}
.textcont{
  position: absolute;
  right: 0;
  bottom: 15%;

}
.hero .heading span {
  font-weight: 600;
  
}
.hero .heading .spn a{
  color: inherit !important;
  text-decoration: none !important;
  
}

/* Hero */