/* Hero */

.carousel-item-container {
  position: relative;
}

.homepageHeroBanner {
  position: relative;
  overflow: hidden;
}

.homepageHeroBanner img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.09);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 20px;
}

.overlay-content {
  max-width: 90%;
}

.overlay .heading {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.discoverBtn {
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.discoverBtn:hover {
  background-color: #ddd;
}

.HomebannertextCont {
  top: 55%;
  right: 15%;
  color: #ffffff;
}

.HomebannertextCont .txt h2 {
  font-size: rem !important;
}

.HomebannertextCont .txt h2 a {
  color: inherit !important;
}
.prdctmobilebanner {
  display: none;
}

@media (max-width: 768px) {
  .HomebannertextCont .heading {
    font-size: 1rem;
  }

  .discoverBtn {
    font-size: 12px;
    margin: 0 !important;
  }
}

@media (max-width: 600px) {
  .prdctdeskbanner {
    display: none !important;
  }
  .prdctmobilebanner {
    display: block !important;
  }
  .HomebannertextCont {
    left: 10% !important;
    top: 60% !important;
  }
}
@media (max-width: 425px) {
  .fw-normal {
    font-size: 1rem;
  }
}
